<div class="carousel-wrapper">

  <div class="main-slider">
    <div>
      <img src="../assets/sliders/1704951729.jpeg" alt="">
    </div>
    <div>
      <img src="../assets/sliders/1704951756.jpeg" alt="">
    </div>
    <div>
      <img src="../assets/sliders/1704951775.jpeg" alt="">
    </div>
    <div>
      <img src="../assets/sliders/1704952181.jpeg" alt="">
    </div>
  </div>

</div>
<!-- </ngx-slick-carousel>
</div> -->
<header>
  <img src="assets/icons/second.gif" alt="Icon">
  <img src="assets/icons/callnow.gif" alt="Icon">


</header>


<!-- <div class="image-container">
  <img src="../assets/images/1682096645.webp" alt="">
  <img src="assets/icons/second.gif" alt="Icon">
</div>
<div class="image-container">
  <img src = "../assets/images/1682096784.webp"  alt="" />
  <img src="assets/icons/second.gif" alt="Icon">
</div>
<div class="image-container">
  <img src = "../assets/images/1682097260.webp"  alt="" />
  <img src="assets/icons/second.gif" alt="Icon">
</div> -->
<div class="image-container">
  <img src="../assets/images/1682096645.webp" aria-placeholder="fsvdfd" alt="" class="background-image">
  <img src="../assets/images/1682096784.webp" alt="" class="background-image" />

  <img src="assets/icons/second.gif" alt="" class="second-image" />
  <img src="assets/icons/second.gif" alt="" class="second-image" />
  <img src="../assets/images/1682097459.webp" class="background-image">
  <img src="../assets/images/1682097545.webp" class="background-image">
  <img src="assets/icons/second.gif" alt="" class="second-image" />
  <img src="assets/icons/second.gif" alt="" class="second-image" />
  <img src="../assets/images/1682098054.webp" class="background-image">
  <img src="../assets/images/1682097545.webp" alt="" class="background-image" />
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">
  <img src="assets/icons/second.gif" alt="" class="second-image" />
  <img src="../assets/images/1682098171.webp" alt="" class="background-image" />
  <img src="../assets/images/1682098732.webp" alt="" class="background-image" />
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">
  <img src="../assets/images/1682099081.webp" alt="" class="background-image" />
  <img src="../assets/images/1683378749.webp" alt="" class="background-image" />
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">
  <img src="../assets/images/1683379632.webp" alt="" class="background-image" />
  <img src="../assets/images/1687864758.webp" alt="" class="background-image" />
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">
</div>

<!-- <div class="image-container">
   <div class="text-overlay"> -->
  <!-- <img src="../assets/images/1682096645.webp"  alt="" class="background-image">
  <img src="../assets/icons/flag.webp" alt="Third Image" class="third-image">
  <p>katrin</p>
  <img src="../assets/images/1682096784.webp" alt="" class="background-image" />
  
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">
  <img src="../assets/icons/flag.webp" alt="Third Image" class="third-image">
  <img src="../assets/images/1682097459.webp" class="background-image">
  <img src="../assets/icons/flag.webp" alt="Third Image" class="third-image">
  <img src="../assets/images/1682097545.webp" class="background-image">
  <img src="assets/icons/second.gif" alt="Icon" class="second-image">

  






</div> -->


<!-- 
<div class="image-container">
  <img src="../assets/images/1682096645.webp" alt="" class="background-image">
  <img src="../assets/icons/second.gif" alt="Icon" class="foreground-image">
</div> -->

<!-- <div class="image-container">
  <img src="../assets/images/1682096645.webp" alt="" class="main-image">
  <img src="../assets/icons/second.gif" alt="Second Image" class="second-image">
  <img src="../assets/icons/flag.webp" alt="Third Image" class="third-image">
</div> -->


<!-- <div class="image-container">
    <img src = "../assets/images/1682096645.webp"  alt="" >
    <img src="assets/icons/second.gif" alt="Icon" >
    <img src = "../assets/images/1682096784.webp"  alt="" />
    <img src = "../assets/images/1682097260.webp"  alt="" />
    <img src = "../assets/images/1682097459.webp"  alt="" />
    <img src = "../assets/images/1682097545.webp"  alt="" />
    <img src = "../assets/images/1682098054.webp"  alt="" />
    <img src = "../assets/images/1682098171.webp"  alt="" />
    <img src = "../assets/images/1682098732.webp"  alt="" />
    <img src = "../assets/images/1682099081.webp"  alt="" />
    <img src = "../assets/images/1683378749.webp"  alt="" />
    <img src = "../assets/images/1683379632.webp"  alt="" />
    <img src = "../assets/images/1687864758.webp"  alt="" />
</div>  -->